body {
    background-image: url("bcimg.jpg");
}
p {
    color: yellow;
}
h1 {
    color: yellow;
}
h3 {
    color: white;
    font: bold;
}
img {
    border: 1px dotted blue;
    height: 500px;
    width: 800px;
}
.txt {
    color: lightskyblue;
}
.txt2 {
     color: lightskyblue;
}
